<%= form_for(@residential) do |f| %>
  <% if @residential.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@residential.errors.count, "error") %> prohibited this residential from being saved:</h2>

      <ul>
      <% @residential.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h3>Water Services</h3><br>
    <%= f.text_area :water_service, class: 'ckeditor' %>
  </div>
  <div class="field">
    <h3>Pump Services</h3><br>
    <%= f.text_area :pump_service, class: 'ckeditor' %>
  </div>
  <div class="field">
    <h3>Treatment</h3><br>
    <%= f.text_area :treatment, class: 'ckeditor' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
