<p id="notice"><%= notice %></p>

<h1>Listing Residentials</h1>
<% if current_user %>
  <%= link_to 'New Residential', new_residential_path %>
  <hr>
<% end %>

<% @residentials.each do |residential| %>
  <% if current_user %>
    <%= link_to 'Show', residential %>
    <%= link_to 'Edit', edit_residential_path(residential) %>
    <%= link_to 'Destroy', residential, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
  <hr>
  <h1>Residential Water Services</h1>
  <%= residential.water_service %><br>
  <hr>
  <h1>Well Pump Services</h1>
  <%= residential.pump_service %><br>
  <hr>
  <h1>Water Treatment &amp; Purification</h1>
  <%= residential.treatment %><br>

  <hr>
<% end %>

<br>
