<p id="notice"><%= notice %></p>

<div id="residential_header">
  <h1>Residential</h1>
  <!-- <% if current_user %>
    <%= link_to 'New Residential', new_residential_path %>
    <hr>
  <% end %> -->
  <br>
  <h3>Serving Maryland, Washington D.C. and Virginia Residents</h3>
</div>

<% @residentials.each do |residential| %>
  <% if current_user %>
    <!-- <%= link_to 'Show', residential %> -->
    <h3><%= link_to 'Edit', edit_residential_path(residential) %></h3>
    <!-- <%= link_to 'Destroy', residential, method: :delete, data: { confirm: 'Are you sure?' } %> -->
  <% end %>
  <div id="indie_residential" class="water_residential">
    <hr>
    <h1>Residential Water Services</h1>
    <div class="residential_content">
      <%= image_tag("sink.jpg") %>
      <h4><%= residential.water_service %></h4><br>
    </div>
    <p>Call Now to speak with a member of our knowledgeable staff, or <a href="mailto:david@nationalwaterservice.com">send us an email</a></p>
  </div>
  <div id="indie_residential" class="pump_residential">
    <hr>
    <h1>Well Pump Services</h1>
    <div class="residential_content">
      <%= image_tag("pump_service.jpg") %>
      <h4><%= residential.pump_service %></h4><br>
    </div>
    <div class="pump_services">
      <h4>Our Residential Well Pump Services include:</h4>
      <ul class="checklist">
        <li><i class="fa fa-check"></i> Constant Pressure Well Pumps</li>
        <li><i class="fa fa-check"></i> Well Pump Replacement</li>
        <li><i class="fa fa-check"></i> In-Well Camera Service</li>
        <li><i class="fa fa-check"></i> Booster Pumps</li>
        <li><i class="fa fa-check"></i> New Construction</li>
        <li><i class="fa fa-check"></i> Trenching Service</li>
        <li><i class="fa fa-check"></i> Water Tank Service</li>
        <li><i class="fa fa-check"></i> Comprehensive Lab Testing</li>
        <li><i class="fa fa-check"></i> Low Yielding Well Options</li>
        <li><i class="fa fa-check"></i> Storage Tank Options</li>
      </ul>
    </div>
    <p>Call Now to speak with a member of our knowledgeable staff, or <a href="mailto:david@nationalwaterservice.com">send us an email</a></p>
  </div>
  <div id="indie_residential" class="treatment_residential">
    <hr>
    <h1>Water Treatment &amp; Purification</h1>
    <%= image_tag("water_treatment.jpg") %>
    <h4><%= residential.treatment %></h4><br>
    <div class="treatment_services">
      <h4>Our Residential Water Treatment and Purification Services include but are not limited to:</h4>
      <ul class="checklist">
        <li><i class="fa fa-check"></i> Sediment Filtration</li>
        <li><i class="fa fa-check"></i> Reverse Osmosis</li>
        <li><i class="fa fa-check"></i> Acid Neutralizers</li>
        <li><i class="fa fa-check"></i> Water Softeners</li>
        <li><i class="fa fa-check"></i> Carbon Tanks</li>
        <li><i class="fa fa-check"></i> Iron Removal</li>
        <li><i class="fa fa-check"></i> Sulfur Removal</li>
        <li><i class="fa fa-check"></i> Ozone Purification</li>
        <li><i class="fa fa-check"></i> Radon Remediation</li>
        <li><i class="fa fa-check"></i> Ultraviolet Purification</li>
        <li><i class="fa fa-check"></i> Chlorine Removal</li>
        <li><i class="fa fa-check"></i> Stains &amp; Smelly Water</li>
      </ul>
    </div>
    <p>Call Now to speak with a member of our knowledgeable staff, or <a href="mailto:david@nationalwaterservice.com">send us an email</a></p>
  </div>
  <hr>
<% end %>

<br>
