<p id="notice"><%= notice %></p>

<h1>Listing Residentials</h1>

<table>
  <thead>
    <tr>
      <th>Water service</th>
      <th>Pump service</th>
      <th>Treatment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @residentials.each do |residential| %>
      <tr>
        <td><%= residential.water_service %></td>
        <td><%= residential.pump_service %></td>
        <td><%= residential.treatment %></td>
        <td><%= link_to 'Show', residential %></td>
        <td><%= link_to 'Edit', edit_residential_path(residential) %></td>
        <td><%= link_to 'Destroy', residential, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Residential', new_residential_path %>
