<p id="notice"><%= notice %></p>

<h1>Listing Services</h1>
<!-- <% if current_user %>
  <%= link_to 'New Service', new_service_path %>
  <hr>
<% end %> -->

<% @services.each do |service| %>
  <% if current_user %>
    <!-- <%= link_to 'Show', service %> -->
    <h3><%= link_to 'Edit', edit_service_path(service) %></h3>
    <!-- <%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %> -->
  <% end %>
  <hr>
  <h2>Well Pumps &amp; Tanks</h2>
  <%= service.pumps_tanks %><br>
  <hr>
  <h2>Water Treatment</h2>
  <%= service.water_treatment %><br>
  <hr>
  <h2>New Construction</h2>
  <%= service.construction %>
  <hr>
  <h2>Constant Pressure Systems</h2>
  <%= service.pressure_systems %>
  <hr>
  <h2>Flood Prevention Devices</h2>
  <%= service.flood_prevention %><br>
  <hr>
<% end %>
<br>
