<p id="notice"><%= notice %></p>

<% if current_user %>
  <%= link_to 'New Blog', new_blog_path %>
<% end %>
<br>
<h1>News and Such</h1>
<hr>

<% @blogs.each do |blog| %>
  <h1><%= blog.title %></h1>
  <h3><%= blog.content %></h3>
  <h5><strong>With Love:</strong> <%= blog.author %></h5>
  <% if current_user %>
    <%= link_to 'Show', blog %>
    <%= link_to 'Edit', edit_blog_path(blog) %>
    <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
  <hr>
<% end %>

<br>
<br>
