<%= form_for(@water_treatment) do |f| %>
  <% if @water_treatment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@water_treatment.errors.count, "error") %> prohibited this water_treatment from being saved:</h2>

      <ul>
      <% @water_treatment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h3>House System</h3>
    <%= f.text_area :house_system, class: 'ckeditor' %>
  </div>
  <div class="field">
    <h2>Reverse Osmosis</h2>
    <%= f.text_area :reverse_osmosis, class: 'ckeditor' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
