<p id="notice"><%= notice %></p>

<h1>Listing Water Treatments</h1>
<% if current_user %>
  <%= link_to 'New Water treatment', new_water_treatment_path %>
  <hr>
<% end %>

<% @water_treatments.each do |water_treatment| %>
  <% if current_user %>
    <%= link_to 'Show', water_treatment %>
    <%= link_to 'Edit', edit_water_treatment_path(water_treatment) %>
    <%= link_to 'Destroy', water_treatment, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
  <hr>
  <h2>Whole House System</h2>
  <%= water_treatment.house_system %><br>
  <hr>
  <h2>Reverse Osmosis Drinking Water</h2>
  <%= water_treatment.reverse_osmosis %><br>
  <hr>
<% end %>

<br>
