<%= form_for(@commercial) do |f| %>
  <% if @commercial.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@commercial.errors.count, "error") %> prohibited this commercial from being saved:</h2>

      <ul>
      <% @commercial.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :water_service %><br>
    <%= f.text_area :water_service %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
