<p id="notice"><%= notice %></p>

<h1>Listing Commercials</h1>
<% if current_user %>
  <%= link_to 'New Commercial', new_commercial_path %>
  <hr>
<% end %>
<% @commercials.each do |commercial| %>
  <% if current_user %>
    <%= link_to 'Show', commercial %>
    <%= link_to 'Edit', edit_commercial_path(commercial) %>
    <%= link_to 'Destroy', commercial, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
  <hr>
  <h2>Commercial Water Service</h2><br>
  <%= commercial.water_service %>
<% end %>

<br>
