<%= form_for(@well_water_pump) do |f| %>
  <% if @well_water_pump.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@well_water_pump.errors.count, "error") %> prohibited this well_water_pump from being saved:</h2>

      <ul>
      <% @well_water_pump.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h2>Pump Services</h2>
    <%= f.text_area :pump_service, class: 'ckeditor' %>
  </div>
  <div class="field">
    <h2>Well Solutions</h2>
    <%= f.text_area :well_solutions, class: 'ckeditor' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
