<p id="notice"><%= notice %></p>


<h1>About</h1>
<hr>
<% if current_user %>
  <%= link_to 'New About', new_about_path %>
  <hr>
<% end %>

<% @abouts.each do |about| %>
  <%= about.content %><br><br>
  <% if current_user %>
    <%= link_to 'Show', about %>
    <%= link_to 'Edit', edit_about_path(about) %>
    <%= link_to 'Destroy', about, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
<% end %>

<br>
