<%= form_for(@discount) do |f| %>
  <% if @discount.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@discount.errors.count, "error") %> prohibited this discount from being saved:</h2>

      <ul>
      <% @discount.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h2>Amount Off</h2>
    <h2>&#36; <%= f.number_field :amount_off %></h2>
  </div>
  <div class="field">
    <h2>Special Offer Description</h2>
    <%= f.text_area :title, class: 'ckeditor' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
