<p id="notice"><%= notice %></p>

<h1>Listing Discounts</h1>
<hr>
<% if current_user %>
  <%= link_to 'New Discount', new_discount_path %>
  <hr>
<% end %>


<% @discounts.each do |discount| %>
  <h3>$<%= discount.amount_off %> Off!</h3>
  <%= discount.title %><br><br>
  <% if current_user %>
    <%= link_to 'Show', discount %>
    <%= link_to 'Edit', edit_discount_path(discount) %>
    <%= link_to 'Destroy', discount, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
  <hr>
<% end %>


<br>
