<p id="notice"><%= notice %></p>

<p>
  <strong>Amount off:</strong>
  <h1>$<%= @discount.amount_off %> Off!</h1>
</p>

<p>
  <strong>Title:</strong>
  <%= @discount.title %>
</p>

<%= link_to 'Edit', edit_discount_path(@discount) %> |
<%= link_to 'Back', discounts_path %>
