<!DOCTYPE html>
<html>
<head>
  <title>National Water Service</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <ul class="nav navbar-nav">
          <li><a href="/"><i class="fa fa-home fa-lg"></i></a></li>
          <li><%= link_to "Residential", '/residential' %></li>
          <li><%= link_to "Commercial", '/commercial' %></li>
          <li><%= link_to "Services Provided", '/services' %></li>
          <li><%= link_to "Water Treatment & Purification", '/water_treatments' %></li>
          <li><%= link_to "Well Water Pump & Tanks", '/well_water_pumps' %></li>
          <li><%= link_to "Products", '/products' %></li>
          <li><%= link_to "Discounts", '/discounts' %></li>
          <li><%= link_to "About", '/about' %></li>
          <li><%= link_to "Contact", '/contact' %></li>
          <% if current_user %>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "#{current_user.name}", '/', style: "color:black;font-weight:bold;" %></li>
              <li><%= link_to "Logout", '/logout' %></li>
            </ul>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
  <!-- <% if current_user %>
    <h3>|<%= current_user.name %> || <a href="/">HOME</a> || <%= link_to "Logout", '/logout' %>|</h3>
  <% end %> -->

<%= yield %>

</body>
</html>
