<!DOCTYPE html>
<html>
<head>
  <title>National Water Service</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <ul class="nav nav-pills">
        <li role="presentation" class="active"><%= link_to "Home", '/' %></li>
        <li role="presentation"><%= link_to "Residential", '/residential' %></li>
      </ul>
    </div>
  </nav>
  <% if current_user %>
    <h3>|<%= current_user.name %> || <a href="/">HOME</a> || <%= link_to "Logout", '/logout' %>|</h3>
  <% end %>

<%= yield %>

</body>
</html>
